* {
  box-sizing: border-box;
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); 
  }

@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2');
}
  
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); 
}
  
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v26-latin-800.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat-v26-latin-900.woff2') format('woff2');
}

:root {
    --btext-color: #121214;
    --wtext-color: #ffffff;
    --stext-color: #037E8C;
    --gtext-color: #787878;
    --bmain-color: #121214;
    --wmain-color: #ffffff;
    --smain-color: #037E8C;
    --gmain-color: #1F4D53;
    font-size: 62.5%;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--wtext-color);
  margin-top: 0;
  margin-bottom: 0;
  padding: 16.2rem 0 0.8rem;
}

.pic-first-section {
  background: linear-gradient(0deg, rgba(18, 18, 20, 0.75) 0%, rgba(18, 18, 20, 0.75) 100%),
   url("../pictures/pic-first-section.jpg");

}

.fs-t-1 {
  padding: 0 3.3rem;
}

.fs-t-2 {
  padding: 0.8rem 0 2.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  color: var(--wtext-color);
}

.fs-t-3{
  display: flex;
  height: 2.3rem;
  width: 19.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--wtext-color);
}
.fs-t-4 {
  padding: 5rem 0 7.7rem 3rem;
}

.butt-first-section-1 {
  display: flex;
  width: 22rem;
  height: 4.5rem;
  background-color: var(--smain-color);
  border-radius: 9px;
  cursor: pointer;
}

.butt-first-section-2 {
  padding: 2.1rem 0 5rem;
}

.warrow {
  background-image: url("../pictures/strelka.svg");
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  padding: 2.4;
  margin: 1.05rem 1.2rem 1.05rem 0.7rem;
}

.butt-point-1 {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: none;
  background-color: var(--wmain-color);
  padding: 0.4rem;
  margin: 0.75rem 0.75rem 0.75rem 0;
}

.butt-point-2 {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: none;
  background-color: var(--wmain-color);
  padding: 0.4rem;
  margin: 0.75rem;
}

.butt-point-3 {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: none;
  background-color: var(--wmain-color);
  padding: 0.4rem;
  margin: 0.75rem 1.85rem 0.75rem 0.75rem;
}

.butt-point-1:focus {
  background-color: var(--smain-color);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: none;
  padding: 0.4rem;
  margin: 0.75rem 0.75rem 0.75rem 0;
}

.butt-point-2:focus {
  background-color: var(--smain-color);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: none;
  padding: 0.4rem;
  margin: 0.75rem;
}

.butt-point-3:focus {
  background-color: var(--smain-color);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: none;
  padding: 0.4rem;
  margin: 0.75rem 1.85rem 0.75rem 0.75rem;
}


.white-line {
  margin: 1.1rem 0.7rem 1.1rem 1.85rem;
}

.background-vector {
  background-image: url("../pictures/background-vector.svg");
}

.alternative-vector {
  background-color: var(--gtext-color)
}

.alternative-vector-2 {
  background-color: var(--wtext-color);
}

.butt-w14600 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--wtext-color);
  text-decoration: none;
  padding: 1.5rem 0.7rem 1.5rem 1.6rem;
}

.w14400 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--wtext-color);
}

.w14600 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--wtext-color);
}

.w16500 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--wtext-color);
}

.w18300 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--wtext-color);
}

.w18700 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--wtext-color);
}

.w24700 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--wtext-color);
}

.b13400 {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--btext-color);
}

.b14400 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--btext-color);
}

.b14600  {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--btext-color);
}

.b16400 {
  font-size: 1.6rem;
  font-weight: 400; 
  color: var(--btext-color);
}

.b16600 {
  font-size: 1.6rem;
  font-weight: 600; 
  color: var(--btext-color);
}

.b18300 {
  font-size: 1.8rem;
  font-weight: 300; 
  color: var(--btext-color);
}

.b18600 {
  font-size: 1.8rem;
  font-weight: 600; 
  color: var(--btext-color);
}

.b18700 {
  font-size: 1.8rem;
  font-weight: 700; 
  color: var(--btext-color);
}

.b20600 {
  font-size: 2rem;
  font-weight: 600; 
  color: var(--btext-color);
}

.b20700 {
  font-size: 2rem;
  font-weight: 700; 
  color: var(--btext-color);
}

.b24600 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--btext-color);
}

.b24700 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--btext-color);
}

.b30900 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--btext-color);
}

.s14600 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--stext-color);
}

.s16500 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--stext-color);
}

.s18700 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--stext-color);
}

.s24800 {
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--stext-color);
}

.g12400 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--gtext-color);
}
