* {
  box-sizing: border-box;
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); 
  }

@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2');
}
  
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); 
}
  
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v26-latin-800.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat-v26-latin-900.woff2') format('woff2');
}

:root {
    --btext-color: #121214;
    --wtext-color: #ffffff;
    --stext-color: #037E8C;
    --gtext-color: #787878;
    --bmain-color: #121214;
    --wmain-color: #ffffff;
    --smain-color: #037E8C;
    --gmain-color: #1F4D53;
    --mmain-color: #f4f4f4;
    --dgmain-color: #373737;
    --lgmain-color: #848484;
    font-size: 62.5%;
}

.wrapper {
  max-width: 130rem;
  margin: 0 auto;
}

header {
  position: absolute;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--btext-color);
}

footer {
  color: var(--gtext-color);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 127%;
  padding: 1.1rem 1rem 0;
}

button {
  min-width: 0.8rem;
  min-height: 0.8rem;
  border-radius: 50%;
  border: none;
  padding: 0.4rem;
  background-color: var(--wmain-color);
  text-align: left;
}

button:focus {
  min-width: 0.8rem;
  min-height: 0.8rem;
  border-radius: 50%;
  border: none;
  padding: 0.4rem;
  background-color: var(--smain-color);
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 123%;
  margin: 0;
  margin-bottom: 1.6rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
}

a {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.zero {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.zero-logo {
  min-width: 5rem;
  min-height: 6.4rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.zero-butt-burger {
  min-width: 2rem;
  min-height: 2rem;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 2rem;
 }

.first-section {
  background: linear-gradient(0deg, rgba(18, 18, 20, 0.75) 0%, rgba(18, 18, 20, 0.75) 100%),
   url("../pictures/pic-first-section.jpg");
  color: var(--wtext-color);
  background-size: cover;
  background-position: center;
}

.first-1 {
  padding: 16.2rem 3.3rem 10rem 3.3rem;
}

.first-2 {
  margin: 0;
  margin-bottom: 4.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 130%;

}

.first-3 {
  display: flex;
  align-items: center;
}

.first-3-1 {
  margin: 0.75rem 0.75rem 0.75rem 0;;
}

.first-3-2 {
  margin: 0.75rem;
}

.first-3-3 {
  margin: 0.75rem 1.85rem 0.75rem 0.75rem;
}

.first-3-4 {
  height: 0.1rem;
  min-width: 5.4rem;
  background-color: var(--mmain-color);
}

.first-3-5 {
  margin: 0.2rem 0 0 0.7rem;
}

.first-butt {
  display: block;
  position: relative;
  max-width: 22rem;
  max-height: 4.5rem;
  background-color: var(--smain-color);
  border-radius: 9px;
  color: var(--wtext-color);
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 4rem 1.5rem 1.6rem;
  margin-bottom: 10rem;
}

.first-butt-pic {
  background-image: url("../pictures/strelka.svg");
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 1.1rem;
  top: 1rem;
}

.second-section {
  padding: 5.6rem 1rem 1.4rem;
}

.second-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2rem;
  justify-items: center;
}

.second-li {
  list-style-type: none;
  max-width: 30rem;
}

.second-li-pic {
  min-width: 5rem;
  min-height: 3.9rem;
  margin-bottom: 1.6rem;
}

.second-li-text {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.third-section {
  padding: 3.5rem 1rem 4.7rem;
}

.third-section-back {
  background-color: var(--mmain-color);
  background-image: url(../pictures/third-backgroundsvg.svg);
  height: 100%;
  width: 100%;
}

.third-li {
  list-style-type: none;
  margin: 3.7rem 0 7rem;
}

#third-li-last {
  margin-bottom: 0;
}

.third-li-1 {
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 108%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.third-li-2 {
  font-size:  1.8rem;
  font-weight: 700;
  line-height: 108%;
  margin-bottom: 1.6rem;
}

.third-li-3 {
  text-transform: uppercase;
  line-height: 108%;
  margin: 0.7rem 0;
  display: flex;
  align-items: center;
}

.third-li-3-span {
  margin-left: 0.5rem;
  font-weight: 600;
  line-height: 108%;
  text-transform: lowercase;
}

.third-li-3-pic {
  min-width: 1.3rem;
  min-height: 1.3rem;
  margin-right: 1.1rem;
}

.third-li-4 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 130%;
  margin: 1.4rem 0 1.1rem;
  text-transform: uppercase;
}

.third-li-4-pic{
 min-height: 2.2rem;
 min-width: 2.2rem;
 margin-left: 0.7rem;
}

.third-li-5 {
  margin: 0;
  line-height: 160%;
  margin-bottom: 2.7rem;
}

.third-li-6 {
  display: flex;
  gap: 0.8rem;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
}

.third-li-6-1 {
  display: block;
  padding: 1.2rem 3.9rem;
  color: var(--stext-color);
  min-width: 16.4rem;
  min-height: 4.1rem;
  border: 1.5px solid var(--smain-color);
  border-radius: 0.9rem;
  text-decoration: none;
}

.third-li-6-2 {
  display: block;
  padding: 1.2rem 2.3rem;
  color: var(--wtext-color);
  min-width: 16.4rem;
  min-height: 4.1rem;
  border-radius: 0.9rem;
  background-color: var(--smain-color);
  text-decoration: none;
}

.third-li-7 {
  margin: 4rem 0 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  overflow: hidden;
}

.third-li-7-1 {
  min-width: 18.6rem;
  min-height: 18.6rem;
  border-radius: 0.9rem;
  object-fit: cover;
  object-position: center;  
}

.third-li-7-2 {
  min-width: 13rem;
  min-height: 15.5rem;
  border-radius: 0.9rem;
  object-fit: cover;
  object-position: center;
}

.third-li-8 {
  display: flex;
  align-items: center;
}

.third-li-8-1 {
  background-color: var(--bmain-color);
  margin: 0 0.75rem;
}

.third-li-8-2 {
  background-color: var(--bmain-color);
  height: 0.1rem;
  min-width: 5.4rem;
  margin: 0 1.4rem 0 3rem;
}

.fourth-section-back {
  background-color: var(--bmain-color);
  background-image: url(../pictures/fourth-background.svg);
  width: 100%;
  height: 100%;
}

.fourth-section {
  padding: 4.5rem 2.1rem 5rem;
  color: var(--wtext-color);
}

.fourth-1 {
  margin-bottom: 1.9rem;
}

.fourth-2 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  margin-bottom: 3.3rem;
}

.fourth-3 {
  display: block;
  padding: 1.4rem 4.3rem;
  font-weight: 600;
  line-height: 130%;
  color: var(--wtext-color);
  max-width: 17.5rem;
  max-height: 4.5rem;
  border-radius: 0.9rem;
  background-color: var(--smain-color);
  text-decoration: none;
  margin: 0 auto;
}

.fourth-4 {
  display: flex;
  max-width: 85rem;
  min-height: 4.5rem;  
  justify-content: center;
}

.fifth-section {
  padding: 9.5rem 1rem 4.8rem;
}

.fifth-1 {
  margin-bottom: 2rem;
}

.fifth-ul {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem 2rem;
}

.fifth-li {
  list-style-type: none;
  background-color: var(--mmain-color);
  border-radius: 0.9rem;
}

.fifth-li-1 {
  border-radius: 0.9rem 0.9rem 0 0;
  object-fit: cover;
  object-position: center;
}

.fifth-li-2 {
  font-size: 1.8rem;
  line-height: 130%;
  font-weight: 700;
  color: var(--stext-color);
  padding-left: 0.5rem;
  margin: 0.3rem 0 0.5rem ;
}

.fifth-li-3 {
  line-height: 130%; 
  padding: 0 0 0.9rem 0.5rem;
}

.sixth-section {
  padding: 3.4rem 1rem 4.2rem;
}

.sixth-section-back {
  background-color: var(--mmain-color);
  background-image: url(../pictures/sixth-background.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sixth-1 {
  margin-bottom: 1.7rem;
}

.sixth-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1.5rem
}

.sixth-li {
  list-style-type: none;
  position: relative;
  border-radius: 0.9rem;
  background-color: var(--wmain-color);
  min-height: 9.1rem;
  max-width: 41rem;
}

.sixth-li-1 {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  min-width: 2.7rem;
  min-height: 2.7rem;
}

.sixth-li-2 {
  padding: 0.7rem 0.6rem 0 4.2rem;
  line-height: 120%;
}

.sixth-li-2-1 {
  font-weight: 600;
}

.seventh-section {
  padding: 2.5rem 1rem 6rem;
}

.seventh-0 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem 2.9rem;
  justify-content: space-between;
}

.seventh-1 {
  background-image: url(../pictures/seventh-1.svg);
  border-radius: 0.9rem;
  margin-top: 2.7rem;
  justify-self: left;
}

.seventh-1-1 {
  border-radius: 0.9rem;
  width: 100%;
}

.seventh-1-2 {
  color: var(--stext-color);
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 120%;
  margin-top: 0.9rem;
  padding-left: 2.1rem;
}

.seventh-1-3 {
  color: var(--stext-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 120%;
  padding-left: 2.1rem;
}

.seventh-1-4 {
  font-size: 1.6rem;
  line-height: 120%;
  max-width: 22rem;
  padding: 0 0 2.2rem 2.1rem;
  margin-top: 0.9rem;
}

.seventh-2 {
  background-image: url(../pictures/seventh-2.svg);
  border-radius: 0.9rem;
  margin: 2.7rem 0 0;
  justify-self: right;
  position: relative;
}

.seventh-2-1 {
  font-size: 1.6rem;
  line-height: 120%;
  max-width: 28rem;
  padding: 0 0 5.4rem 2.1rem;
}

.seventh-2-2 {
  display: block;
  max-width: 15rem;
  padding: 0.8rem 3rem;
  font-weight: 600;
  line-height: 130%;
  color: var(--stext-color);
  border: 1.5px solid var(--smain-color);
  border-radius: 0.9rem;
  text-decoration: none; 
  position: absolute;
  bottom: 1rem;
  left: 2.1rem;
}

.eighth-section {
  padding: 3.6rem 1rem 4.6rem;
}

.eighth-0 {
  margin-bottom: 0.7rem;
}

.eighth-1 {
  text-align: center;
  color: var(--stext-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 2.5rem;
}

.eighth-2 {
  background-color: var(--dgmain-color);
  border-radius: 0.9rem;
  display: block;
}

.eighth-2-1 {
  width: 7.3rem;
  height: 7.3rem;
}

.eighth-2-2 {
  font-size: 3rem;
  font-weight: 900;
  margin: 0 auto;
}

.eighth-2-3 {
  color: var(--wtext-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 124%;
  margin: 0 auto;
}

.eighth-2-4 {
  width: 6rem;
  height: 7.6rem;
}

.eighth-2-5 {
  color: var(--wtext-color);
  margin: 0 auto;
}

.eighth-3 {
  line-height: 150%;
  margin: 0;
  margin: 2.4rem 0 1.4rem;
}

.eighth-4 {
  display: block;
  max-width: 30rem;
  padding: 1.4rem 2rem;
  font-weight: 600;
  line-height: 130%;
  color: var(--stext-color);
  border: 1.5px solid var(--smain-color);
  border-radius: 0.9rem;
  text-decoration: none;
  text-align: center;
}

.eighth-section-back {
  background-color: var(--mmain-color);
  background-image: url(../pictures/eighth-background.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.ninth-section {
  padding: 3rem 1rem 5.7rem;
}

.ninth-0 {
  margin-bottom: 1rem;
}

.ninth-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.ninth-li {
  width: 100%;
  display: flex;
  justify-content: center;  
}

.ninth-li-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.7rem 1.3rem;
  font-size: 1.6rem;
  font-weight: 600;  
}

.ninth-li-2 {
  display: none;
  padding: 0.5rem 1.3rem 0.8rem;
  font-size: 1.3rem;
  line-height: 150%;  
}

.ninth-li-butt {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0.5px solid var(--lgmain-color);
  border-radius: 0.2rem;
  min-height: 5.5rem;
  min-width: 32rem;
  width: 100%;
  max-width: 54rem;
  cursor: pointer;
}

.ninth-li-butt:focus {
  padding: 0;
  border: 0.5px solid var(--smain-color);
  border-radius: 0.2rem;
  background: none;
  width: 100%;
  min-height: 16.7rem;
}

.ninth-li-butt:focus .ninth-li-2 {
  display: block;
}

.ninth-li-butt:focus .ninth-li-1-pic {
  transform: rotate(180deg)
}

.ninth-1 {
  display: block;
  margin: 1.9rem auto 0.8rem;
}

.ninth-2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.ninth-3 {
  margin: 0;
  text-align: center;
  margin: 1.1rem 0 2.3rem;
}

.ninth-4 {
  display: block;
  margin: 0 auto;
  max-width: 17.5rem;
  padding: 1.3rem 3.3rem;
  font-weight: 600;
  line-height: 130%;
  color: var(--wtext-color);
  border-radius: 0.9rem;
  background-color: var(--smain-color);
  text-decoration: none;
}

.ninth-point-five {
  background-color: var(--smain-color);
  height: 0.3rem;
  width: 95%;
}

.tenth-section {
  padding: 0.95rem 0 2.9rem;
}

.tenth-1 {
  padding: 0 1rem;
  margin-bottom: 1.7rem;
  text-align: left;
}

.tenth-1-pic {
  max-width: 100%;
}

.tenth-ul {
  padding: 0 1.3rem;
  margin: 1.8rem 0 1.6rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tenth-li-last {
  display: flex;
  align-items: flex-start;
}

.tenth-li-1 {
  width: 3.9rem;
  height: 3.9rem;
  margin-right: 1.2rem;
}

.tenth-li-2 {
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  line-height: 130%;
  text-decoration: none;
  color: var(--btext-color);
}

.tenth-li-3-1 {
  margin: 0;
  font-size: 1.6rem;
  line-height: 130%;
}

.tenth-3 {
  padding: 0 1rem 0;
}

.tenth-4 {
  display: flex;
  padding: 0 1.3rem;
  align-items: center;
}

.tenth-4-1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.tenth-4-2 {
  margin-left: 1.3rem;
}

.tenth-point-five {
  background-color: var(--bmain-color);
  height: 0.05rem;
  width: 95%;
  margin: 0 auto;
}

.eleventh-section {
  margin-bottom: 1.5rem;
}

.eleventh-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  font-size: 1.4rem;
}

.eleventh-li-1 {
  font-weight: 600;
  text-decoration: none;
  color: var(--btext-color);
}

.eleventh-li-2 {
  font-weight: 600;
  text-decoration: none;
  color: var(--btext-color);
}

.eleventh-li-3 {
  font-weight: 600;
  text-decoration: none;
  color: var(--btext-color);
}

.eleventh-1 {
  display: flex;
  gap: auto;
  justify-content: space-between;
}

.eleventh-1-1 {
  width: 5.4rem;
  height: 6.9rem;
}

.eleventh-point-five {
  background-color: var(--bmain-color);
  height: 0.05rem;
  width: 95%;
}

.footer-1 {
  margin-top: 1.5rem;
}

@media screen and (max-width: 359.9px) {
 .second-ul {
    grid-template-columns: 1fr;
 }

 .second-li {
  min-height: 19.7rem;
 }

 .fifth-ul {
  grid-template-columns: 1fr;
 }

 .third-li-6 {
    flex-direction: column;
  }

  .sixth-ul {
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }

  .sixth-li {
    max-width: 34rem;
  }
}

@media screen and (max-width: 720px) and (min-width: 360px){
  .second-ul {
    grid-template-columns: 1fr 1fr;
  }

  .second-li {
    max-width: 16rem;
    min-height: 19.7rem;
  }

  .fifth-ul {
    grid-template-columns: 1fr 1fr;
  }

  .sixth-ul {
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }

  .sixth-li {
    max-width: 34rem;
  }

  .seventh-0 {
    justify-content: center;
  }
}

@media screen and (min-width: 721px) and (max-width: 1299px) {
  .second-section {
    padding-bottom: 5.4rem;
  }
}

@media screen and (min-width: 1300px) {
  .sixth-ul {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}